body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre， form,
fieldset， input,
p,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

h3 {
    font-size: 30px;
    color: rgba(46, 46, 46, 1);
}

img {
    vertical-align: middle;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

a {
    text-decoration: none;
    color: #010101;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: red;
}

/*ÃƒÂ¦Ã¢â‚¬â€œÃ¢â‚¬Â¡ÃƒÂ¥Ã‚Â­Ã¢â‚¬â€ÃƒÂ¦Ã…Â½Ã¢â‚¬â„¢ÃƒÂ§Ã¢â‚¬Â°Ã‹â€ */

.fb {
    font-weight: bold;
}

.fn {
    font-weight: normal;
}

.t2 {
    text-indent: 2em;
}

.unl {
    text-decoration: underline;
}

.no-unl {
    text-decoration: none;
}

/*ÃƒÂ¥Ã‚Â®Ã…Â¡ÃƒÂ¤Ã‚Â½Ã‚Â*/

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.bc {
    margin-left: auto;
    margin-right: auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cb {
    clear: both;
}

.cr {
    clear: left;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.clearfix {
    zoom: 1;
}

.vm {
    vertical-align: middle;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.abs-right {
    position: absolute;
    right: 0;
}

.zoom {
    zoom: 1;
}

.hidden {
    visibility: hidden;
}

.dn {
    display: none;
}

.db {
    display: block;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.ptb {
    padding-top: 60px;
    padding-bottom: 70px;
}

body {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    background: #fff;
    min-width: 1000px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 125px;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(154, 154, 154, 0.2);
    z-index: 1000;
}

.nav .rexian {
    width: 100%;
    height: 45px;
    background-color: #31383F;
    line-height: 45px;
    color: #fff;
}

.nav .rexian p {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: right;
}

.nav .rexian p .font_face {
    font-size: 16px;
    border: 2px solid #bfbfbf;
    border-radius: 50%;
    padding: 3px;
}

.navWrap {
    height: 80px;
    overflow: hidden;
    line-height: 80px;
    font-size: 16px;
}

.navWrap .sousuo_wrap {
    overflow: hidden;
    margin-top: 21px;
}

.navWrap .sousuo_wrap input {
    width: 360px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    border: 0px;
    padding: 0 10px;
    background-color: rgba(245, 245, 245, 1);
}

.navWrap .sousuo_wrap .sousuo_btn {
    width: 38px;
    height: 38px;
    background-color: rgba(21, 88, 160, 1);
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
}

.navWrap li {
    text-align: center;
    width: 120px;
    height: 100%;
}

.navWrap li a.on {
    color: #02afd7;
}

.navWrap span {
    color: #02AFD7;
}
.footer {
    width: 100%;
    background: rgba(49, 56, 63, 1);
    text-align: center;
    padding: 40px 0 20px;
}

.footer p {
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.g-footer-record {
    margin: 23px auto 10px;
    overflow: hidden;
    width: 536px;
}

.g-footer-record p {
    border: 1px solid #d2d2d2;
    display: inline;
    float: left;
    font-size: 12px;
    height: 50px;
    line-height: 20px;
    margin: 6px;
    overflow: hidden;
    width: 120px;
    background-color: #fff;
}

.g-footer-record .fn-fl {
    padding: 3px;
    float: left;
}

.g-footer-record .fn-fr {
    padding: 5px 3px 0;
    width: 72px;
    float: right;
}

html,
body {
    transition: 2s;
}
.main{
    padding-top: 125px;
}
.search{
    width: 100%;
    box-shadow:0px 0px 0px 
}
.search .wrap>div{
    padding-top: 15px;
    padding-bottom: 15px;
}
.search .wrap p{
    font-size:16px;
    color:rgba(153,153,153,1);
}
.search .wrap p a{
    color: #000;
    display: inline-block;
    margin: 0 15px;
}
.search .wrap p a:hover{
    color: #1558A0;
}
.con{
    width: 100%;
    background-color: #dfdfdf;
}
.con h3 span{
    font-size:16px;
    color:rgba(147,147,153,1);
}
#win li{
    
}